
@using TravelTripProje.Models.Siniflar
@model List<Blog>

@{
    Layout = null;
}



<div class="con-bot">

    @foreach (var x in Model)
    {
        <div class="left" style="width:29%;float:left;" >
            <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih.ToString("dd.MM.yyyy")</span> @*Tarih Formatı *@
                <p>
                    @x.Aciklama.Substring(0,70) @* 0 ' dan 70.karaktere kadar alır *@
                </p>
                <p>
                    <a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamını Oku >>  </span></a>
                </p>
            </div>
        </div>

    }


    <div class="clear"></div>


</div>
